
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© Patrick Martin Blacksmith 2022</span> &nbsp;&nbsp;&nbsp;
            
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            
            <li class="ms-3 col-md-2"><a class="text-muted" href="https://www.instagram.com/patrickmartinblacksmith/"> <img
                        src="images\FontAwesome\instagram-brands.svg" class="social_media_brand_logo"></a></li>
            <!-- <li class="ms-3 col-md-2"><a class="text-muted" href="https://www.youtube.com/c/CrossFitGamesTV"><img
                        src="images\FontAwesome\youtube-brands.svg" class="social_media_brand_logo"></a></li> -->
        </ul>
    </footer>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

</html>